<div class="row justify-content-center my-5">
  <div class="col-12 col-md-8 col-lg-6">
    <div class="form p-3">
      <h4>Schedule an appoitment with one of our agents</h4>
      <%= simple_form_for @meeting do |f| %>
        <div class="row">
          <div class="col">
            <%= f.input :start_time, as: :datetime, html5: true, required: true, autofocus: true, input_html: { value: Date.today } %>
          </div>
          <div class="col">
            <%= f.input :agent, collection: ['Jorge Neira', 'Sebastian Caceres'], html5: true, required: true, autofocus: true, input_html: { value: Date.today } %>
          </div>
        </div>
        <%= f.button :submit, class: 'btn btn-primary', value: 'Join our waitlist' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row justify-content-center m-0">
  <div class="col-12 col-md-10 my-5">
    <div class="form p-3">
      <h2>Available times</h2>
      <%= week_calendar(number_of_weeks: 1, events: @meetings) do |date, meetings| %>
        <% meetings.each do |meeting| %>
          <div>
            <strong><%= meeting.start_time.strftime("%l:%M%p")  %></strong>
            <%= meeting.agent %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
