<%= image_tag (image_path 'banner.jpeg'), id: 'banner' %>
<div class="row row-intro">
  <div class="col-12 col-sm-4">
    <h1>WHAT IS TEMPO TALENTS?</h1>
  </div>
  <div class="col-12 col-sm-8 text-center">
    <div class="image">
      <%= image_tag (image_path 'heading.png') %>
    </div>
  </div>
</div>
<div class="row row-home" id="row-cards">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-title">
        <h3>For Athletes</h3>
      </div>
      <div class="card-body">
        <h4>Meet your agent</h4>
        <p>One on one assistance to find what's best for you</p>
      </div>
      <div class="card-action">
        <% if user_signed_in? %>
          <%= link_to "Talk to an agent", meetings_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-title">
        <h3>For Businesses</h3>
      </div>
      <div class="card-body">
        <h4>Find your representative</h4>
        <p>See how athletes can help your business</p>
      </div>
      <div class="card-action">
        <%= link_to "Contact Us", new_contact_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<div class="row row-home">
  <div class="col-12 col-md-6 text-center">
    <h3>Learn our Philosophy</h3>
    <p>Why we're exited about what we do and where we're headed</p>
    <%= link_to 'Read more', about_path, class: 'btn btn-primary' %>
  </div>
</div>
