<%= image_tag (image_path 'banner.jpeg'), id: 'banner' %>
<div class="row row-intro">
  <div class="col-12 col-sm-4">
    <h1>WHAT IS TEMPO TALENTS?</h1>
  </div>
  <div class="col-12 col-sm-8 text-center">
    <div class="image">
      <%= image_tag (image_path 'heading.png') %>
    </div>
  </div>
</div>
<div class="row row-home" id="row-cards">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-title">
        <h3>ATHLETES...</h3>
      </div>
      <div class="card-body">
        <h4>MEET YOUR AGENT</h4>
        <p>one on one assistance to find what's best for you!</p>
      </div>
      <div class="card-action">
        <% if user_signed_in? %>
          <%= link_to "Talk to an agent", meetings_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-title">
        <h3>BUSINESSES...</h3>
      </div>
      <div class="card-body">
        <h4>FIND YOUR REPRESENTATIVE</h4>
        <p>see how athletes can help your business!</p>
      </div>
      <div class="card-action">
        <%= link_to "Contact Us", new_contact_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<div class="row row-home" id="rounded">
  <div class="col p-0">
    <div class="learn-more">
      <div class="learn-more-rounded">
        <h2>SET THE TEMPO FOR YOUR ATHLETIC CAREER TODAY</h2>
      </div>
      <div class="learn-more-text">
        <h2>LEARN OUR PHILOSOPHY</h2>
        <p>why we are exited and where we are headed</p>
        <%= link_to 'LEARN MORE', about_path, class: 'btn btn-flat' %>
      </div>
    </div>
  </div>
</div>
